footer{
    background-color: #25160F;
    color:#EDC099;
}

.list-social-media{
    list-style-type: none;


}

.list-social-media img:hover{
    background-color: #EDC099;
    border-radius:50%;
    
}

.divider{
    width:100%;
    border:2px solid #EDC099;
}
.divider-short{
    width: 20%;
    border-bottom:0.5px solid #EDC099;
    margin: 0 auto;

}
.copyright{
    background-color: rgba(0, 0, 0, 0.2);
}