.section-title {
  color: #f23535;
}

.section-border {
  border: 1px solid #f25c5c;
}

.table-body > tr > th {
  text-align: center;
}

.table-body > tr > td:nth-last-child(1) {
  text-align: center;
}

.table-body > tr:nth-of-type(odd) {
  background-color: rgba(242, 92, 92, 0.3);
}

.recipe-circle {
  width: 9rem;
  height: 9rem;
  position: relative;
  background-color: rgba(242, 53, 53, 0.5);
}

.recipe-circle-icon {
  width: 3rem;
  height: auto;
}

.recipe-circle-image {
  border: 1px solid #f25c5c;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
}

.recipe-circle-image:hover {
  opacity: 0;
}
