.section-title {
  color: #f0450b;
}

.section-border {
  border: 1px solid #f0450b;
}

.section-paragraph {
  line-height: 2rem;
}

.table-body > tr > th {
  text-align: center;
}

.table-body > tr > td:nth-last-child(1) {
  text-align: center;
}

.table-body > tr:nth-of-type(odd) {
  background-color: #edc099;
}

.recipe-circle {
  width: 9rem;
  height: 9rem;
  position: relative;
  background-color: #edc099;
}

.recipe-circle-icon {
  width: 3rem;
  height: auto;
}

.recipe-circle-image {
  border: 1px solid #f0450b;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
}

.recipe-circle-image:hover {
  opacity: 0;
}
